body
{
    height:100%;
    width:100%;
    background-color: lightgray;
    color: white;
    margin: 0px;
}
#navbar2
{
    width: 100%;
    height: 50px;
    background-color: black;
    position: fixed;
    z-index: 100;
    padding: 0;
    margin: 0px;
    box-shadow: 1px 1px 5px 1px #000000;
}
.navbar
{
    width: 100px;
    height: 50px;
    display: inline-block;
    font-size: large;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    padding-top: 10px;

}
#list > a
{
    text-decoration: none;
    color: white;
}
a{
    display: inline-block;
}
#list > a:hover
{
    text-decoration: none;
    color: white;
}
.navbar:hover
{
    background-color: #144F4A;
    text-shadow: 1px 1px 1px #000000;
    cursor: pointer;
}
#list
{
    height: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
}
#dropdown > ul
{
    list-style-type: none;
    color: black;
    position: absolute;
    z-index: 100;
    padding: 0;
    margin-top: 15px;
    display: none;
}
#dropdown > ul > li
{
    width: 100px;
    background-color: #144F4A;
    color: white;
    font-size: 16px;
    text-align: center;
    padding: 5px;
    border-top: 1px solid darkslategray;
}
#dropdown > ul:last-child
{
    border-bottom: 1px solid darkslategray;
}
#dropdown > ul > li:hover
{
    background-color: #00444f;
}
#dropdown:hover > ul
{
    display: block;
}
#parallax
{
    background-image: url("img/img02.jpg");
    height: 1000px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#parallax > p
{
    color: white;
    font-size: 72px;
    padding: 400px;
    font-family: 'Source Sans Pro', sans-serif;
    text-shadow: 3px 3px 1px #144F4A;

}
#team, #price
{
    width:100%;
    height: 300px;
    color: white;
    background-image: url("img/tlo2.jpg");
    margin: 0px;
    padding: 20px;
    box-shadow: 0 1px 2px 2px #000000;
}
#work, #contact
{
    width:100%;
    height: 300px;
    color: black;
    background-image: url("img/tlo3.png");
    margin: 0px;
    padding: 20px;
    box-shadow: 0 1px 2px 2px #000000;
}
.menu
{
    width: 100%;
    color: white;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 3mm;
    font-variant: small-caps;
    font-size: 42px;
    text-align: center;
    clear: both;
}
#team
{
    height: 730px;
    padding-top: 30px;
}
.person
{
    padding: 5px 50px 5px 50px;
    float: left;
    margin-top: 80px;
}
.img
{
    box-shadow: 0 0 15px black;
    border: 1px solid black;
    border-radius: 100px 100px 100px 100px;
    background-color: #144F4A;
    opacity: 0.4;
}
.img:hover
{
    opacity: 1;
    cursor: pointer;
}
.personid
{
    width: auto;
    height: 45px;
    clear: both;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    letter-spacing: 2px;
    display: inline-block;
    margin-top: 20px;
}
.maininfo
{
    list-style: none;
}
.more
{
    position: relative;
    display: inline-block;
    font-size: 20px;
    letter-spacing: 3px;
    text-transform: lowercase;
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
}
.more:hover
{
    cursor: pointer;
    color: #00444f;
    padding: 0;
    margin: 0;
}
.moreContent
{
    display: none;
    position: absolute;
    width: 200px;
    height: 100px;
    color: white;
    font-size: 16px;
    list-style: none;
    letter-spacing: 3px;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    text-align: left;
}
.socialMedia:hover
{
    color: #144F4A;
    cursor: pointer;
    font-size: 20px;
}
.more:hover .moreContent
{
    display: block;
}
.facebook:hover
{
    color:#3b5998
}
.twitter:hover
{
    color:#00aced;
}
.github:hover
{
    color:#205081
}
.google:hover
{
    color: #db4437;
}
#work
{
    height: 800px;
    margin: 0px;
    padding: 30px;

}

#projects
{
    margin-top: 70px;
    width: 100%;

}
.works
{
    float: left;
    width: 290px;
    height: 235px;
    margin: 0;
    position: relative;
}
.image
{
    margin: 0;
    width: 290px;
    height: 235px;
    opacity: 1;
    position: absolute;
    left: 0;
    top: 0;
}
.text
{
    letter-spacing: 5px;
    position: absolute;
    color: white;
    font-size: 24px;
    padding: 84px 82.5px 84px 82.5px ;
    margin: 0;
    background-color: #144F4A;
    opacity: 0;
}
.text:hover
{
    opacity: 0.7;
}
.text > span:hover
{
    cursor: pointer;
    color: black;
}

#price
{
    height: 600px;
    padding-top: 30px;
}
.pricing
{
    margin: 70px 30px 30px 30px;
    width: 200px;
    height: 300px;
    font-size: 12px;
    letter-spacing: 2px;
    color: white;
    background-color: #144F4A;
    display: inline-block;
}
.pricing > h1
{
    letter-spacing: 1px;
    font-weight: lighter;
    font-size: 32px;
}
.pricing > p
{
    margin-top: 90px;
}
.pricing > input
{
    margin-top: 20px;
    width: 150px;
    height: 50px;
    background-color: #144F4A;
    color: white;
    border: 1px solid black;
    cursor: pointer;
    font-size: 18px;
}
.pricing > input:hover
{
    border: 2px solid black;
}


#contact
{
    height: 600px;
    padding-top: 20px;
}
form
{
    margin-top: 70px;
    text-align: left;
    font-size: 16px;
    display: inline-block;
}
#contactform3
{
    width: 500px;
    height: 200px;
    margin: 5px;
    padding: 0;
    background-image: url("img/tloform.png");
    border: 1px solid #144F4A;
    outline:none;
}
#contactform1, #contactform2
{
    width: 500px;
    margin: 5px;
    padding: 0px;
    background-image: url("img/tloform.png");
    border: 1px solid #144F4A;
    outline:none;
}
input:focus, textarea:focus
{
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.2);
}
#send
{
    margin: 5px;
    background-color: #144F4A;
    width: 100px;
    color: white;
    border: 1px solid #144F4A;
}
#send:hover
{
    background-color: #00444f;
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.5);
}
::-webkit-input-placeholder
{
    color: black;
    font-style: italic;
    margin: 0;
    padding: 0;
    font-weight: lighter;
}

#map
{
    font-size: 10px;
    letter-spacing: normal;
    width: 700px;
    height: 300px;
    margin: 30px 0px 20px 150px;
    display: inline-block;
}

#footer
{
    width: 100%;
    height: 80px;
    background-color: #000000;
    color: #ffffff;
    box-shadow: 1px 1px 5px 1px #000000;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    margin-bottom: 0;
    padding-top: 5px;
    word-spacing: 5px;
    letter-spacing: 2px;
    clear: both;
}
#up
{
    width: 50px;
    height: 55px;
    margin: auto;
}
#up > a
{
    color: #00444f;
}
#up > a > i
{
    font-size: 50px;
}
